# MongoDB Configuration
MONGODB_URL=mongodb://localhost:27017
DATABASE_NAME=physiocare

# Security Configuration
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

# Razorpay Test Configuration
RAZORPAY_KEY_ID=your_test_key_id
RAZORPAY_KEY_SECRET=your_test_key_secret

# Server Configuration
ENVIRONMENT=development
PORT=8000
HOST=0.0.0.0